@import '../../assets/styles/mixins';

.controlapi {
  &__playbutton {
    margin: 0 auto;
    width: 6.6rem;
    height: 6.6rem;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__video {
    border-radius: 1rem;
    background: #1C1E29;
    padding: 9.35rem 19rem;
    // position: relative;
    max-width: 70%;

    // &::before {
    //   content: '';
    //   display: block;
    //   // height: 43%;
    //   // padding: 22% 50%;
    // }

    @include onTablet {
      padding: 0;
      width: 100%;
    }
  }

  &__cardwrapper {
    border-radius: 1rem;
    background: #161822;

    // &:hover {
    //   background: #35384E;
    // }
  }

  &__card {
    border-radius: 1rem;
    background: #232533;

    &:hover {
      background: #35384E;
    }

    &.main {
      border-radius: 1rem;
      background: linear-gradient(90deg, rgba(39, 171, 87, 0.10) 0%, rgba(39, 171, 87, 0.01) 100%), #232533;
    }
  }

  &__hr {
    border-left: 1px solid #fff;
    height: 100%;
  }
}