.alerts-table {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;

  &__icon {
    background: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.55rem;

    &:hover {
      background: #2a2e41;

    }
  }

  &__inputwrapper {
    border-radius: 1.45rem;
    background: #151620;

    &-modal {
      border-radius: 1.45rem;
      background: #2a2e41;
      padding: 0.5rem 0.7rem;
    }
  }

  &__input {
    background: transparent;
    border: 0;
    outline: none;
    color: #7b7c85;

    &-comment {
      border-radius: 0.6rem;
      border: 1px solid transparent;
      background: #13141d;
      outline: none;
      width: 100%;
      color: #7b7c85;
      padding: 0.2rem 0.9rem;

      &:focus {
        border: 1px solid #3548fe;
        color: #fff;
      }

      &::placeholder {
        color: #7b7c85;
        transition: opacity 0.3s ease;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }

    &-modal-coinpair {
      border-radius: 0.5rem;
      background: #2a2e41;
      border: 0;
      outline: none;
      color: #fff;
      padding: 0.5rem 0.7rem;
      text-transform: uppercase;
      width: 100%;

      &::placeholder {
        text-transform: none;
      }
    }
  }
}