.markets-table {
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;

  &__row-main {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 2.5rem;

    &.open {
      background: #13141d;
    }

    &--collapsed {
      background: #13141d;
      height: 100%;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    background: #1c1e2c;
    // padding: 0.7rem 0;
    height: 2.5rem;

    &.header {
      background: #161822;
    }

    &.subrow {
      background: #151620;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: #1c1E2c;
    height: 100%;

    &.two {
      background-image: url("data:image/svg+xml,%3Csvg width='34' height='15' viewBox='0 0 34 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.5' y='1.5' width='12' height='12' rx='6' stroke='%230E0F16' stroke-width='3'/%3E%3Cpath d='M19 2.5293H32' stroke='%230E0F16' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M19 7.5293H32' stroke='%230E0F16' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M19 12.5293H32' stroke='%230E0F16' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
    }

    &.three {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8.11914' r='8' fill='white'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
    }

    &.favorite {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6.50022H11.1135L9 0L6.8865 6.50022H0L5.63288 10.4998L3.43913 17L9 12.9716L14.5609 17L12.363 10.4998L18 6.50022Z' fill='white'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
    }

    &--blue {
      background: #377bff;
    }

    &--deep-blue {
      background: #2f41e2;
    }

    &--dark-blue {
      background: #1e298e;
    }

    &--orange {
      background: #ff8001;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.4rem 1.45rem;
    border-radius: 2rem;
    background: #3e435d;
    color: #fff;
    font-weight: 700;

    &--w {
      width: 13.15rem;
      height: 1.6rem;
      left: 73.85rem;
      right: -73.85rem;
      top: 46.7rem;
      bottom: -46.7rem;
      border-radius: 1.45rem;
      background: #151620;
    }
  }

  &__inputwrapper {
    border-radius: 1.45rem;
    background: #151620;
    height: 1.6rem;
  }

  &__input {
    background: transparent;
    border-radius: 1.45rem;
    border: 0;
    outline: none;
    width: 100%;
    color: #7783c0;
    text-align: center;
    // font-family: Roboto;
    // font-size: 0.8rem;
    // font-style: normal;
    // font-weight: 700;
    // line-height: 120%; /* 0.96rem */
    // padding: 0.5rem 1rem;

    &::placeholder {
      color: #7783c0;
      text-align: center;
      transition: opacity 0.3s ease;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }
}